In [1]:
import pandas
import numpy

In [2]:
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,numpy.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
my_dataframe = pandas.DataFrame(technologies)
print(my_dataframe)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [3]:
value="Spark"

my_df2=my_dataframe[my_dataframe["Courses"] == value] 
print(my_df2)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [4]:
my_df3=my_dataframe[my_dataframe["Courses"] != value] 
print(my_df3)

   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [5]:
my_df3 = my_dataframe.query("Courses == 'Spark'")

print(my_df3)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [6]:
my_df2 = my_dataframe.loc[my_dataframe['Courses'] == "Spark"]

print(my_df2)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [7]:
# Filter Rows Based on List of Values
values=["Spark","PySpark"]
print(my_dataframe[my_dataframe["Courses"].isin(values)] )
# Using df.loc
my_df2=my_dataframe.loc[~my_dataframe['Courses'].isin(values)]
print(my_df2)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
  Courses    Fee Duration  Discount
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200
4  Pandas  26000      NaN      2500

In [8]:
# Filter Rows based on multiple conditions
print(my_dataframe.loc[(my_dataframe['Discount'] >= 1000) & (my_dataframe['Discount'] <= 2000)])
print(my_dataframe[(my_dataframe['Discount'] >= 1000) & (my_dataframe['Discount'] <= 2000)])
print(my_dataframe.query("Discount >= 1000 & Discount <= 2000"))

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200
  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200
  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200

In [9]:
# By using lambda function
print(my_dataframe.apply(lambda row: row[my_dataframe['Courses'].isin(['Spark','PySpark'])]))

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300

In [10]:
print(my_dataframe.dropna())

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000

In [11]:
print(my_dataframe.dropna(axis='columns'))

   Courses    Fee  Discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000
3   Python  24000      1200
4   Pandas  26000      2500

In [12]:
# Filter based on value contains
print(my_dataframe[my_dataframe['Courses'].str.contains("Spark")])

# Filter after converting values
print(my_dataframe[my_dataframe['Courses'].str.lower().str.contains("spark")])

#Filter startswith
print(my_dataframe[my_dataframe['Courses'].str.startswith("P")])

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [13]:
text= 'the results cannot be extrapolated to other patient group'

In [14]:
def stemmer(text):
    word_list = text.split(' ')
    
    new_list = []
    
    for word in word_list:
        new_word = word    
        if word.endswith('ing'):
            new_word = word[:-3]
            
        elif word.endswith('ed') or word.endswith('ly'):
            new_word = word[:-2]
            
        if len(new_word) >8:
            new_word = new_word[0:8]
        
        new_list.append(new_word)
        
    new_text = " ".join(new_list)
        
    return new_text

In [15]:
stemmer(text)

'the results cannot be extrapol to other patient group'