In [ ]:
print('hello')

In [ ]:
print('new')

Nota común

In [ ]:
2+1

In [ ]:
2-1

In [ ]:
2*2

In [ ]:
3/2

Modulo or "Mod" Operator

In [ ]:
7/4

In [ ]:
7%4

"Mod" me trae lo que resta luego de una división. 7 dividido 4, da 1 y un resto de 3, que dividido entre 4 me daría el .75

In [ ]:
50%5

Puede servir para saber si un número es par o impar (sobre todo si ese valor esta escondido detras de una variabl), si da "0" al hace %2 entonces es par

Para elevar a una potencia se utiliza doble asterisco y la potencia **3 es al cubo

In [ ]:
2**3

In [ ]:
2 + 10 * 10 + 3

 Acá hace primero la multiplicación y luego la sumatoria, 10 * 10 = 100 -> 100 + 2 + 3 = 105

In [ ]:
(2+10)*(10+3)

In [ ]:
((2+3)**2)*(6/3)

In [ ]:
(2+3)**2

In [ ]:
((2+3)**2)*(2-(6/3))

In [ ]:
((2+3)**2)*(2-(6/3)))

In [ ]:
((2+3)**2)*(9-(15/3))

In [ ]:
0.1+0.2-0.3

In [ ]:
0.1 + 0.2 - 0.3

In [ ]:
0.1+0.2

In [ ]:
6*6

In [ ]:
1/2

In [ ]:
my_dog = 2

In [ ]:
my_dog = 'Hermes'

In [ ]:
my_dog

In [ ]:
a=5

In [ ]:
a + a

In [ ]:
a = a + a

In [ ]:
a

In [ ]:
a

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a

In [ ]:
a = 30.1

In [ ]:
type(a)

In [ ]:
my_income = 100

In [ ]:
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [ ]:
my_taxes

In [ ]:
'hello'
"world"

In [ ]:
'this is also a string'

In [ ]:
" I'm going on a run "

In [ ]:
print ("hello")

In [ ]:
"hello world one"
"hello world two"

In [ ]:
print ("hello world one")
print ("hello world two")

In [ ]:
print ("hello \n world")

In [ ]:
print ("hello \t world")

In [ ]:
print ("hello \nworld")

In [ ]:
len ('hello')

In [ ]:
my_dog

In [ ]:
len (my_dog)

In [ ]:
my_name = 'Zalogon'

In [ ]:
print (my_name)

In [ ]:
len (my_name)

In [ ]:
print ("Hello World")

In [ ]:
mystring = "Hello World"

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[8]

In [ ]:
mystring[-2]

In [ ]:
mystring ='abcdefghijk'

In [ ]:
mystring[2:]

In [ ]:
mystring[:2]

In [ ]:
mystring[:3]

In [ ]:
 mystring[3:6]

In [ ]:
mystring[2:9:2]

In [ ]:
mystring[::2]

In [ ]:
mystring[-10]

In [ ]:
mystring[-10:10:-2]

In [ ]:
mystring[-10:10]

In [ ]:
mystring[-10:10:2]

In [ ]:
mystring[-10:10:-1]

In [ ]:
mystring[1:-1:-2]

In [ ]:
mystring[1:10:-2]

In [ ]:
mystring[:-1:-2]

In [ ]:
mystring[::-2]

In [ ]:
mystring = "Hello World"
mystring[8]

In [ ]:
'tinker'[1:4]

In [ ]:
my_name

In [ ]:
print(my_name[4:])

In [ ]:
print(my_name[:4])

**IMMUTABILITY**

In [ ]:
name = "Sam"

In [ ]:
name[0] = "P"

In [ ]:
# name[0] = "P"

In [ ]:
name[1:]

In [ ]:
last_letters = name[1:]

In [ ]:
last_letters

In [ ]:
'P' + last_letters

In [ ]:
x = 'Hello World'

In [ ]:
x + ' it is beautiful outside!'

In [ ]:
x = x + ' it is beautiful outside!'

In [ ]:
x

In [ ]:
name

In [ ]:
name - last_letters

In [ ]:
b = name - last_letters

In [ ]:
letter = 'z'

In [ ]:
letter * 10

In [ ]:
2 + 3

In [ ]:
'2' + '3'

In [ ]:
newname = 'P'+last_letters

In [ ]:
newname

In [ ]:
x = 'Hello World'

In [ ]:
x.upper ()

In [ ]:
x

In [ ]:
x.upper

In [ ]:
x.lower()

In [ ]:
x.split()

In [ ]:
x = 'This is a string'

In [ ]:
x.split('i')

In [ ]:
x.swapcase()

In [ ]:
print('Hello ' + my_name)

In [ ]:
print('This is a string {}'.format('INSERTED'))

In [ ]:
 print('The {} is {} and {}.'.format('fox', 'brown', 'quick'))

In [ ]:
 print('The {2} {1} {0}.'.format('fox', 'brown', 'quick'))

In [ ]:
 print('The {0} {0} {0}.'.format('fox', 'brown', 'quick'))

In [ ]:
 print('The {2} {1} {0}.'.format(my_name, 'brown', 'quick'))

In [ ]:
 print('The {q} {b} {f}.'.format(f='fox',b='brown',q='quick'))

**Float formating follow "{value:width.precision *f* }"**

In [ ]:
result = 100/777

result

In [ ]:
result

In [ ]:
print("The result was {r}".format(r=result))

In [ ]:
print("The result was {r:1.3}".format(r=result))

In [ ]:
print("The result was {r:1.3f}".format(r=result))

In [ ]:
print("The result was {r:10.3f}".format(r=result))

In [ ]:
print("The result was {r:10.5f}".format(r=result))

In [ ]:
result = 104.12345

In [ ]:
print("The result was {r:15.3f}".format(r=result))

In [ ]:
print("The result was {r:1.5f}".format(r=result))

**f-stings method** - *formated strings literals*

Se agrega una **f** antes del string y luego se anota entre llaves directo lo que querés que te traiga

In [ ]:
name = "Jose"

In [ ]:
print(f'Hello,his name is {name}')

In [ ]:
 age = 3

In [ ]:
print(f'{name} is {age} years old.')

In [ ]:
'{} rules!'.format('Python')


**LISTS**

In [ ]:
my_list = [1,2,3]

In [ ]:
my_list = ['STRING', 100, 23.2]

In [ ]:
len(my_list)

In [ ]:
my_list = ['one', 'two', 'three']

In [ ]:
my_list[0]

In [ ]:
my_list[1:]

In [ ]:
my_list

In [ ]:
another_list=['four', 'five']

In [ ]:
my_list + another_list

In [ ]:
new_list = my_list + another_list

In [ ]:
new_list[0] = 'ONE ALL CAPS'

In [ ]:
my_list

In [ ]:
new_list

In [ ]:
my_list

*Se pueden agregar elementos al final de una lista usando* **.append**

In [ ]:
new_list.append('six')

In [ ]:
new_list

In [ ]:
new_list.append('seven')

In [ ]:
new_list

*Se pueden quitar elementos al final de una lista usando* **.pop**

In [ ]:
new_list.pop()

In [ ]:
new_list

In [ ]:
popped_item = new_list.pop()

In [ ]:
popped_item

In [ ]:
new_list

In [ ]:
new_list.pop(0)

In [ ]:
new_list

In [ ]:
new_list = ['a', 'e', 'x', 'b', 'c']

In [ ]:
num_list = [4,1,8,3]

In [ ]:
new_list.sort()

In [ ]:
new_list

In [ ]:
my_sorted_list = new_list.sort()

In [ ]:
my_sorted_list

In [ ]:
type(my_sorted_list)

In [ ]:
None

"None" es un default value para funciones que no traen ningun resultado, como .sort() ordena la lista pero no trae ningun valor, por eso "my_sorted_list = new_list.sort()" no trae nada y Python la reconoce como un NoneType

In [ ]:
num_list

In [ ]:
num_list.sort()

In [ ]:
num_list

In [ ]:
num_list.reverse()

In [ ]:
num_list

In [ ]:
num_list[1:]

In [ ]:
num_list[2]

In [ ]:
lst=[0,1,2]

In [ ]:
lst.pop()

In [ ]:
my_dict = {'key1' : 'value1' ,  'key2' : 'value2'}

In [ ]:
my_dict

In [ ]:
my_dict['key1']

In [ ]:
prices_lookup = {'apple' : 2.99, 'oranges':1.99, 'milk':5.80}

In [ ]:
 prices_lookup['apple']

In [ ]:
d = {'k1': 123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [ ]:
d['k2']

In [ ]:
d['k3']

In [ ]:
d['k3']['insideKey']

In [ ]:
d['k2']

In [ ]:
d['k1']

In [ ]:
d['k2'][1]

In [ ]:
d = {'key1':['a', 'b', 'c']}

In [ ]:
d

In [ ]:
d['key1'][2]

In [ ]:
d['key1'][2].upper()

In [ ]:
d = {'k1': 100, 'k2':200}

In [ ]:
d['k3']=300

In [ ]:
d

In [ ]:
d['k1']='NEW VALUE'

In [ ]:
d

In [ ]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

**KEYS son siempre Strings**

**TUPLES** son inmutables, usan ()

In [ ]:
t = (1, 2, 3)

In [ ]:
mylist = [1,2,3]

In [ ]:
type(t)

In [ ]:
type(mylist)

In [ ]:
len(t)

In [ ]:
t

In [ ]:
t = ('one', 2)

In [ ]:
t[0]

In [ ]:
t[-1]

In [ ]:
t = ('a', 'a', 'b')

In [ ]:
t.count('a')

In [ ]:
t.index('a')

Con .index si hay repetidos solo me trae el primero

In [ ]:
t.index('b')

In [ ]:
t

In [ ]:
mylist

In [ ]:
mylist[0]='NEW'

In [ ]:
mylist

In [ ]:
t[0]= 'NEW'

In [ ]:
t=(1,2,[1,2])

In [ ]:
t


   **SETS** unordered collection of **unique** elements

In [ ]:
 myset = set()

In [ ]:
myset

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

Puede servir para meter una lista dentro de un SET y asi obtener solo los valores unicos, sin los repetidos

In [ ]:
mylist= (1,1,1,1,2,2,2,2,3,3,3,3,)

In [ ]:
set(mylist)

In [ ]:
set

In [ ]:
mylist= (3,3,'asda', 'asda', 'aaa', 3.4,['b','a', 'c', 'c'],[3,'asda', 3.4, 4.5, 'b'])

In [ ]:
set(mylist)

In [ ]:
mylist

In [ ]:
set(mylist)

In [ ]:
set('Mississippi')


   **Booleans** operador que permite trasmitir afirmaciones **True** o **False** (Siempre con **T** y **F** mayúsculas)
    
    (Sirven para el control de flujo y lógica)

In [ ]:
True

In [ ]:
true

In [ ]:
False

In [ ]:
type(False)

In [ ]:
1 > 2

In [ ]:
1 < 1

In [ ]:
1 == 1

In [ ]:
1 =< 1

In [ ]:
b = None

In [ ]:
b


   **I/O** Input and Output with basic .txt files

In [ ]:
test.txt

 SOLO en Jupyter Notebook se puede usar
 %%writefile myfile.txt
 Hello this is a text file
 this is the second line
 this is the third line

In [ ]:
%%writefile myfile.txt 
Hello this is a text file 
this is the second line 
this is the third line

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile = open('whoops_wrong.txt')

In [ ]:
test = open ('test.txt')

In [ ]:
pwd

 Puedo usar **pwd** (*print work directory*) para saber donde está ubicada esta notebook

In [ ]:
test.txt

In [ ]:
myfile.txt

In [ ]:
test = open ('test.txt')

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile.read()

Si uso **.read()** me trae todo como una sola string, usando **\n** para indicar una *nueva linea*

In [ ]:
myfile.read()

Esto pasa porque el "Cursor" fue hasta el final del archivo
Para resetear eso puedo usar **seek(0)**

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(8)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
contents = myfile.read()

In [ ]:
contents

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read(4)

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read(:4)

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read([:4])

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines()

In [ ]:
myfile = open('C:\\Users\\Gin\\Desktop\\PYTHON\\Python - Zero-2-Hero\\test.txt')


**Best Practice** Hay que cerrar el archivo que abrimos cuando termino de usarlo. Se usa **.close()**

In [ ]:
myfile.close()

In [ ]:
test.close()

In [ ]:
myfile = open (myfile.txt)

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile.close()


Puedo abrirlo como uno nuevo usando **with** antes de open('myfile.txt') **as** my_new_file:

    <- Esto genera un "indented" block of code que va dentro my_new_file en lugar de myfile

In [ ]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
contents


Para escribir puedo usar **with open('myfile.text',)** al agregar la coma voy con el cursor al espacio entre **(** y **'** , luedo de **open** y hago **shift + tab** para opciones y revisar con que mode quiero abrirlo indicandolo luego de la coma:

   **with open('myfile.text',mode='r'** para read

In [ ]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [ ]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

Dependiendo del modo que elijo tal vez no puedo hacer lo que quiero, ej: si lo abro para escribir no lo puedo usar para leer

...because of permissions

In [ ]:
with open('myfile.txt',mode='a') as myfile:
    contents = myfile.read()

**Reading, Writing and Appending Modes**

**· mode='r'**       open for reading only (default)

**· mode='w'**       open for writing only (will overwrite files or create new!)

**· mode='a'**       open for appending only (will add on to files)

**· mode='r+'**      is reading and writing

**· mode='w+'**      is writing and read (Overwrites existing files or creates a new file!)



Tambien:
'x'       create a new file and open it for writing
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('asdfghjkl.txt', mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [ ]:
with open('asdfghjkl.txt', mode='r') as f:
    print(f.read())

# Comparison Operators 

In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False). 

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [ ]:
2 == 2

In [ ]:
1 == 2

In [ ]:
'hello' == 'bye'

In [ ]:
'Bye' == 'bye'

In [ ]:
2.0 == 2

In [ ]:
2 == '2'

In [ ]:
3 != 3

In [ ]:
4 != 5

In [ ]:
2 < 1

In [ ]:
2 > 1

In [ ]:
2 <= 2

In [ ]:
3 <= 2

In [ ]:
1 <= 2

In [ ]:
4 >= 3

**Chaining comaparison operators**

**and**

**or**

**not** brings the opposite bool of the comparison (if it 1 == 1 is True, "not 1==1" brings False)

In [ ]:
1 < 2 < 3

In [ ]:
1 < 2 > 3

In [ ]:
1 < 2 and 3 >= 3

In [ ]:
2 > 1 or 4 == 5

In [ ]:
'hello' == 'hello' or 1 == 1

In [ ]:
'hello' != 'hello' or 1 == 2

In [ ]:
1 == 1

In [ ]:
not (1==1)

In [ ]:
not 1==1

In [ ]:
123 == 5

In [ ]:
not 123 == 5

# if, elif, else Statements

<code>if</code> Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

In [ ]:
if True:
    print ('ITS TRUE')

In [ ]:
if 3<4:
    print ('ITS TRUE')

In [ ]:
hungry = True
if hungry:
    print('Feed me!')

In [ ]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('Im not hungry')

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print ('Cars are cool!')
else:
    print ('I dont know munch')

In [ ]:
loc = 'Game'

if loc == 'Auto Shop':
    print ('Cars are cool!')
elif loc == 'bank':
    print ('Money is cool!')
elif loc =='Store':
    print ('Welcome to the store!')
else:
    print ('I dont know much')

In [ ]:
name = 'Ramirez'

if name == 'Frankie':
    print ('Hello Frankie')
elif name == 'Sammy':
    print ('Good day Sammy')
else:
    print(('Wellmet ')+name)

# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

## Example 1
Iterating through a list

In [ ]:
my_pets = ['Coco', 'Leeloo', 'Hermes']
for pet_name in my_pets:
    print (pet_name)

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for number in mylist:
    print(number)
    
    # ponerle "number" puede ser cualquier variable name, pero va a representar cada nùmero dentro de esa lista.

In [ ]:
for number in mylist:
    print('Hello')

In [ ]:
for number in mylist:
    # Check for even
    if number % 2 == 0:
        print (number)
    else:
        print (f'Odd Number: {number}')

In [ ]:
list_sum = 0

for number in mylist:
    list_sum = list_sum + number

print(list_sum)

In [ ]:
list_sum = 0

for number in mylist:
    list_sum = list_sum + number

    print(list_sum)

In [ ]:
mystring = 'Praise the Omnissiah!'
for letter in mystring:
    print (letter)

In [ ]:

for asdf in 'Bubulele':
    print (asdf)

In [ ]:
#algunos usan el underscore/guiòn bajo _ para indicar en la función un iterable que no piensa usar luego, y no se gastan en ponerle un nombre acorde
for _ in 'Bubulele':
    print ('Cool!')

In [ ]:
tup = (1,2,3)

for item in tup:
    print (item)

**Tuples** have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, *the item can actually be the tuple itself*, this is an example of **tuple unpacking**. During the for loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [ ]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [ ]:
len (mylist)

In [ ]:
for item in mylist:
    print(item)

In [ ]:
for (a,b) in mylist:
    print(a)
    print(b)

Duplicas las estructura de los items dentro de la secuencia para el unpacking

In [ ]:
for a,b in mylist:
    print(a)

De hecho no necesita los ()

In [ ]:
x = 'sun'
y = 777
z = 4.5
mylist = [(1,2,3),(x,y,z),('alpha','beta', 'gamma')]

In [ ]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print (item)

In [ ]:
d = {'k1':1, 'k2':2, 'k1':3}

for item in d:
    print (item)

In [ ]:
mylist = [1,2,32,13,2,1,4,1,2,3,3]
for number in mylist:
    print(number)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print (item)

In [ ]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print (value)

As dictionaries and unordered, when a iterate there is no guarantee that it will return the values in the same order they where introduced to the dictionary.

In [ ]:
#

# while Loops

The <code>while</code> statement in Python is one of most general ways to perform iteration. A <code>while</code> statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

Let’s look at a few simple <code>while</code> loops in action.

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 #can also write "x += 1"

In [ ]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

else:
    print ('X is not less than 5')

In [ ]:
x = (1,2,3)

for item in x:
    # comment
    pass

print ('end of my script')

In [ ]:
mystring = 'Sammy'

In [ ]:
for letter in mystring:
    print (letter)

In [ ]:
for letter in mystring:
    if letter == 'a':
        continue
    print (letter)

In [ ]:
for letter in mystring:
    if letter == 'a':
        break
    print (letter)

In [ ]:
for letter in mystring:
    if letter == 'a':
        pass
    print (letter)

In [ ]:
x = 0

while x < 5:
    print (x)
    x += 1

In [ ]:
x = 0

while x < 9:
    if x == 2:
        break
    print(x)
    x += 1

In [ ]:
#

# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [ ]:
mylist = [1,2,3]

In [ ]:
for num in range(3,10):
    print (num)

In [ ]:
for num in range(3,10, 2):
    print (num)

In [ ]:
for num in range(10):
    print (num)

In [ ]:
range (10)

In [ ]:
list(range(0,11,2))

## enumerate

enumerate is a very useful function to use with for loops.

In [ ]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

In [ ]:
index_count = 0

for letter in 'abcde':
    print ('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

In [ ]:
index_count = 0
word = 'abcde'
for letter in word:
    print (word[index_count])
    index_count+=1

In [ ]:
word = 'abcde'
for item in enumerate (word):
    print(item)

regresa un tuple

In [ ]:
word = 'abcde'
for index,letter in enumerate (word):
    print(index)
    print(letter)
    print ('\n')

## zip

Notice the format enumerate actually returns, let's take a look by transforming it to a list()

In [ ]:
list(enumerate('abcde'))

It was a list of tuples, meaning we could use tuple unpacking during our for loop. This data structure is actually very common in Python , especially when working with outside libraries. You can use the zip() function to quickly create a list of tuples by "zipping" up together two lists.

In [ ]:
mylist1 = [1,2,3,4,5]

In [ ]:
mylist2= ['a', 'b', 'c']

In [ ]:
zip(mylist1, mylist2)

In [ ]:
for item in zip(mylist1, mylist2):
    print(item)

In [ ]:
mylist3 = ['blue', 'red', 'white']

In [ ]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

**It will unify list up to the shortest one**

In [ ]:
list(zip(mylist1, mylist2, mylist3))

In [ ]:
for num, let, col in zip(mylist1, mylist2, mylist3):
    print ("I have {} shirt/s with a {} letter {} on it's fornt".format(num, col, let))


## in operator

Can use **in** to quickly check if an object is in a list

It returns a True or False result

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ('x','y','z') #works with tuples

In [ ]:
'x' in {'a' : 1, 'b' : 'blue' , 'c' : mylist1}

In [ ]:
'x' in {'a' : 1, 'x' : 'blue' , 'c' : mylist1} #works with Keys in Dictionaries, not with the Value asociated with that Key unless you use .values()

In [ ]:
'x' in {'a' : 1, 'b' : 'x' , 'c' : mylist1}

In [ ]:
x = 'whatever'

In [ ]:
'x' in {'a' : 1, 'b' : x , 'c' : mylist1}

In [ ]:
'a' in 'Omnissiah'

In [ ]:
d = {'a' : 1, 'b' : 'x' , 'c' : mylist1}
'x' in d.values()

## not in

We can combine **in** with a **not** operator, to check if some object or variable is not present in a list.

In [ ]:
'x' not in [1,2,3]

In [ ]:
'x' not in ('x','y','z')

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [ ]:
mylist = [10,200,30,4,100]

In [ ]:
min(mylist)

In [ ]:
max(mylist)

In [ ]:
t = (1,2,3,4,5,9,0)

In [ ]:
min(t)

In [ ]:
max(t)

In [ ]:
min (d)

In [ ]:
max (d)

In [ ]:
d2={'keyZ': '300', 'keyAloha': 43, 'keyFirst': 'a', 'keyMiddle': '1','keyLast' : 'z'}

In [ ]:
min (d2)

In [ ]:
max (d2)

In [ ]:
d3={'key1': '300', 'zkeyAloha': 43, 'keyFirst': 'a', 'keyMiddle': '1','keyLast' : 'z'}

In [ ]:
min(d3)

In [ ]:
max(d3)

In [ ]:
max d2.values()

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [ ]:
from random import shuffle

# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed

shuffle(mylist1)

In [ ]:
mylist1

In [ ]:
shuffle(mylist1)
mylist1

In [ ]:
from random import randint

# Return random integer in range [a, b], including both end points.

randint(0,100)

In [ ]:
randint(0,100)

In [ ]:
t = (1,2,3,4,5,6,7,8,9,10)
from random import shuffle
shuffle(t)

In [ ]:
mylist_formtuple = [t]

In [ ]:
from random import shuffle
shuffle(mylist_formtuple)

In [ ]:
mylist_formtuple

 Shuffle no funciona con Tuples

In [ ]:
from random import randint
print ('1d20=',randint(1,20))

In [ ]:
from random import randint
print ('3d6=',(randint(1,6))+(randint(1,6))+(randint(1,6)))

In [ ]:
(randint(1,6))+(randint(1,6))

In [ ]:
dicepool = 10
roll = []
roll.append((randint(1,10))*dicepool)
roll

In [ ]:
dicepool = 7
roll = []
roll.append((randint(1,10))*dicepool)
roll

In [ ]:
dicepool = 7
roll = []
roll.append((randint(1,10))*dicepool)
roll

In [ ]:
myroll = roll

In [ ]:
myroll

## input

In [ ]:
input ('Box to type things: ')

Always returns a string, even it the input in the box was a number (it won't recognize it an integer)

In [ ]:
dicepool = input ("What's your dice pool?")

In [ ]:

roll = []
roll.append((randint(1,10))*dicepool)
roll

In [ ]:
dicepool = input ("What's your dice pool?")

In [ ]:
type(dicepool)

In [ ]:
float(dicepool)

In [ ]:
int(dicepool)

In [ ]:
roll = []
roll.append((randint(1,10))*(int (dicepool)))
roll

In [ ]:
roll = []
roll.append((randint(1,10))*(int (dicepool)))
roll

In [ ]:
roll = []
roll.append((randint(1,10))*(int (dicepool)))
roll

In [ ]:
roll = []
roll.append((randint(1,10))*(int (dicepool)))
roll

In [ ]:
# I can transform it into a integer in the same line

dicepool = int(input ("What's your dice pool?"))

In [ ]:
type(dicepool)

In [ ]:
dicepool

In [ ]:
roll = []
roll.append((randint(1,10))*(dicepool))
roll

In [ ]:
roll = []
dicepool*roll.append(randint(1,10))
roll

In [ ]:
roll = []
diceadded = 0

In [ ]:
while diceadded <= dicepool:
    roll.append(randint(1,10)
    diceadded = diceadded+1
    print ('We have 'diceadded' dice added to the pool')
    
else:
    print (roll)

In [ ]:
from random import randint
dicepool = int(input ("What's your dice pool?"))
roll = []
diceadded = 0
while diceadded <= dicepool:
    diceadded = diceadded+1
    roll.append(randint(1,10))
                
else:
    print (roll)

In [ ]:
from random import randint
dicepool = int(input ("What's your dice pool?"))
roll = []
diceadded = 0
while diceadded <= dicepool:
    diceadded = diceadded+1
    roll.append(randint(1,10))
                
else:
    print (roll)

In [ ]:
from random import randint
dicetype = int(input ("How many faces do your dice have? "))
dicepool = int(input ("What's your dice pool? "))
roll = []
diceadded = 0
while diceadded < dicepool:
    diceadded = diceadded+1
    roll.append(randint(1,(dicetype)))
                
else:
    print ('You rolled {}d{}'.format (dicepool,dicetype))
    print ('Your results are:{}'.format(roll))

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [ ]:
mystring = 'hello'

In [ ]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [ ]:
mylist

In [ ]:
mylist = []

In [ ]:
mylist

In [ ]:
mylist = [letter for letter in mystring]

In [ ]:
mylist

In [ ]:
mylist = [x for x in 'word']

In [ ]:
mylist

In [ ]:
mylist = [blahblah for blahblah in 'iterable object']

In [ ]:
mylist

In [ ]:
mylist = [num for num in range (0,11)]

In [ ]:
mylist

One can use operations in that first element

In [ ]:
mylist = [num**2 for num in range (0,11)]

In [ ]:
mylist

In [ ]:
mylist = ['a' for num in range (0,11)]

In [ ]:
mylist

Can also use **if** statements

In [ ]:
mylist = [x for x in range (0,11) if x%2==0]

In [ ]:
mylist

In [ ]:
mylist = [x**2 for x in range (0,11) if x%2==0]

In [ ]:
mylist

In [ ]:
celcius = [0,10,24,60,100]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [ ]:
fahrenheit

In [ ]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append (((9/5)*temp + 32))

In [ ]:
fahrenheit

Can also use **if / else** statements inside list comprenhension

In [ ]:
results = [ x if x%2==0 else 'ODD' for x in range (0,11)]

In [ ]:
results

In [ ]:
success_count = [ 2 if x ==10 else (1 elif x >= 7 else 0) for x in range (0,10)]

Can use **Nested Loops** inside list comprenhension

In [ ]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append (x*y)

In [ ]:
mylist

In [ ]:
mylist = []

for x in ['a','b','c']:
    for y in ['d','e','f']:
        mylist.append (x+y)

In [ ]:
mylist

In [ ]:
mylist = []
otherlist = ['a','b','c']
for x in otherlist:
    for y in otherlist:
        if x != y:
            mylist.append (x+y)

In [ ]:
mylist

In [ ]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [ ]:
mylist

# METHODS AND FUNCTIONS

### **Methods**

In [ ]:
mylist = [1,2,3]

In [ ]:
mylist.append(4)

In [ ]:
mylist

In [ ]:
mylist.pop()

In [ ]:
mylist

To check a bult-in fuction i can **press SHIFT+TAB** after the object.method (only on Jupiter Notebook) **or** run:
**help ( object.method)**

In [ ]:
help(mylist.insert)

a **third option** is to check the Python Documentation on python.org or https://docs.python.org/3/

## Functions

.

Using **def** *keyword* to create functions

-> def name_of_function():
        
        '''
        
        Doctring explaning the function
        
        '''
        
        the actual code to be excecuted when the function is called for

In [ ]:
def say_hello():
    print("hello")
    print('how are you?')

In [ ]:
say_hello()

In [ ]:
say_hello

In [ ]:
def say_hello(name):
    print(f'Hello {name}')

In [ ]:
say_hello('Zalo')

In [ ]:
say_hello()

Here Python asks for the missing parameter. You can go back and complete it, or change the function to have a default value para writing (value='Default_value')

In [ ]:
def say_hello(name='nameless stranger'):
    print(f'Hello {name}')

In [ ]:
say_hello()

Use of the **return** *keyword*

In [ ]:
def add_num(num1,num2):
    return num1+num2

In [ ]:
add_num(10,20)

In [ ]:
result = add_num(33,65)
print(result)

In [ ]:
def print_result(a,b):
    print(a+b)

In [ ]:
def return_result(a,b):
    return a+b

In [ ]:
print_result(10,20)

In [ ]:
result = print_result(10,20)

In [ ]:
result

In [ ]:
type(result)

In [ ]:
return_result(10,20)

In [ ]:
result = return_result(10,20)

In [ ]:
result

In [ ]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [ ]:
result = myfunc(10,20)

In [ ]:
result

In [ ]:
def sum_numbers(num1,num2):
    return num1+num2

In [ ]:
sum_numbers('10','20')

In [ ]:
2%2

In [ ]:
3%2

In [ ]:
20%2==0

In [ ]:
def even_check(number):
    result = number % 2 == 0
    return result

In [ ]:
even_check(20)

In [ ]:
even_check(21)

In [ ]:
def even_check(number):
        return number % 2 == 0

In [ ]:
even_check(12)

In [ ]:
# Return True if any number is even inside a list

In [ ]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [ ]:
check_even_list([1,3,5,7])

In [ ]:
check_even_list([1,3,6,7])

In [ ]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            return False # WRONG!!! Because it will stop at the first odd number and not check the rest

In [ ]:
check_even_list([1,3,6,7])

In [ ]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    return False #It has to be in the same indentation that the FOR loop

In [ ]:
check_even_list([1,3,6,7])

In [ ]:
check_even_list([1,3,5,7])

In [ ]:
def check_even_list(num_list):
    # return all the even number in a list
    
    #placeholder variables:
    even_numbers = []
        
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [ ]:
check_even_list([1,2,3,4,5,6,7,8,9,10])

In [ ]:
check_even_list([1,3,5,7])


**Tuples in def funct**

In [ ]:
stock_prices = [('APPL', 200), ('GOOG',400),('MSFT',100)]

In [ ]:
for item in stock_prices:
    print (item)

In [ ]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

In [ ]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800),('Danny', 600)]

In [ ]:
def employee_check (work_hours):
    #placeholders
    current_max=0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return
    return (employee_of_month, current_max)

In [ ]:
result = employee_check(work_hours)

In [ ]:
result

In [ ]:
name,hours = employee_check(work_hours)

In [ ]:
result

In [ ]:
name

In [ ]:
hours

In [ ]:
name, hours, location = employee_check(work_hours)

This up here ^^^ means that I'm asking for more values that the tuple has. I requested 3, it has 2, so it can't unpack it

To know how many values a tuple has, I can assign it so a single item and the check that item

In [ ]:
item = employee_check(work_hours)

In [ ]:
item

# Functions interaction
The game with the 3 cups and a ball

In [ ]:
example = [1,2,3,4,5,6,7]

In [ ]:
 from random import shuffle

In [ ]:
shuffle (example)

In [ ]:
example

In [ ]:
def shuffle_list(mylist):
    shuffle (mylist)
    return mylist

In [ ]:
result = shuffle_list(example)

In [ ]:
result

In [ ]:
mylist = ['','O','']

In [ ]:
shuffle_list(mylist)

In [ ]:
def player_guess():
    
    guess =''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a ,number: 0, 1 or 2 : ")
        
    return int(guess)

In [ ]:
player_guess()

In [ ]:
myindex = player_guess()

In [ ]:
myindex

In [ ]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print ('Correct!')
    else:
        print('Wrong guess!')
        print(mylist)

In [ ]:
# INITIAL LIST
mylist = ['','O','']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixedup_list, guess)


# `*args` and `**kwargs`

They stand for 'arguments' and 'key word arguments'

In [ ]:
def myfunc (a,b):
    # returns 5% of the sum of a and b
    return sum((a,b))* 0.05

In [ ]:
myfunc(40,60)

In [ ]:
def myfunc (a,b):
    # returns 5% of the sum of a and b
    return sum [a,b] * 0.05

In [ ]:
myfunc(40,60)

In [ ]:
def myfunc (a,b,c=0,d=0,e=0):
    # returns 5% of the sum of a and b
    return sum((a,b,c,d))* 0.05

In [ ]:
myfunc(40,60,100)

In [ ]:
myfunc(40,60,100,2,5,77,)

In [ ]:
def myfunc(*args):
    return sum(args)*0.05

In [ ]:
myfunc (40,60,100,2,5,77)

In [ ]:
def myfunc(*args):
    print (args)

In [ ]:
myfunc (40,60,100,2,5,77)

In this case if a print args it looks like a tuple

In [ ]:
def myfunc(*args):
    for item in args:
        print (item)

In [ ]:
myfunc (40,60,100,2,5,77)

In [ ]:
def myfunc (**kwargs):
    print (kwargs)# printing the kwarg itself will bring back a dictionary
    if 'fruit' in kwargs:
    # Here the 'fruit' will be the key (always a string) in the key/value pair of a dict
        print ('My fruit of choice is {}'.format(kwargs['fruit'])) 
        # this kwargs['key string'] will make it bring the value asociated with that key
    else:
        print ('I did not find any fruit here')

In [ ]:
myfunc(fruit = 'apple', veggie = 'lettuce')

By convention and readability we use the 'args' and 'kwargs' words, but we could change it to any other word. What really makes it work is the use of ' * ' for args and ' ** 'for kwargs

In [ ]:
def myfunc(*args,**kwargs):
    print (args)
    print (kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [ ]:
myfunc(10,20,30, fruit = 'orange', food = 'eggs', animal = 'dog')

#### We can combine args and kwargs in the same function but it must go in the same order. If I defined the function as myfunc(*args, **kwargs) the when I run it the args go first and the kwargs after

# Lambda Expressions, Map, and Filter


## map function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list

In [ ]:
def myfunc(num):
    return num**2

myiterable_object = [1,2,3,4,5]

map(myfunc,myiterable_object) # Basically its say apply this function to every iterable item in the iterable object

# To get the results, either iterate through map() 
# or just cast to a list

list(map(myfunc,myiterable_object))

The functions can also be more complex

In [ ]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]
    
# Here the function defined will interate with a string

mynames = ['John','Cindy','Sarah','Kelly','Mike'] # but then we have a list of string

# and we use the map function to apply that function to every item/string in the list of strings, 
# and return it's result as a list

list(map(splicer,mynames))

If a function defines some action for an item **def function (item/s):** then the **map** will apply that function to every iterable part of a iterable object: map(function, iterable object) does function(part), function (part), function (part), etc.

## filter function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [ ]:
def check_even(num):
    return num % 2 == 0 # functions that returns a True or False result

nums = [0,1,2,3,4,5,6,7,8,9,10] # iterable object through which the FILTER will apply a function

list(filter(check_even,nums)) # again, my iterate through the Filter or make a list of it

#and below it returns only those items that returned True when the function was applied to them

## lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [ ]:
def square(num):
    result = num**2
    return result

square(2)

In [ ]:
# We could simplify it:
def square(num):
    return num**2

square(2)

In [ ]:
# We could actually even write this all on one line.
def square(num): return num**2

square(2)

In [ ]:
# This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

lambda num: num ** 2

# "lambda" replaces the "def" and needs no name for it,
# the first "num" defines the item that would normally go between ()
# then the :
# then the expected return without the need to type "return"

In [ ]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

square (2)

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [ ]:
list(map(lambda item: item ** 2, myiterable_object))
# this will make a LIST 
# that contains the MAPPING of an unnamed function (lambda) 
# applied to every iterable part of an iterable object

In [ ]:
list(filter(lambda n: n % 2 == 0,nums))
# this will make a LIST 
# that contains the FILTERED the parts of an iterable object
# that returned TRUE when an unnamed function (lambda) was applied to that part

In [ ]:
# ** Lambda expression for grabbing the first character of a string: **
lambda s: s[0]

In [ ]:
# ** Lambda expression for reversing a string: **
lambda s: s[::-1]

In [ ]:
# You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.
lambda x,y : x + y

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.

# Nested Statements and Scope 

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a *name-space*. Variable names also have a *scope*, the scope determines the visibility of that variable name to other parts of your code.

This is where the idea of scope comes in. Python has a set of rules it follows to decide what variables (such as x in this case) you are referencing in your code. Lets break down the rules:

This idea of scope in your code is very important to understand in order to properly assign and call variable names. 
​

In simple terms, the idea of scope can be described by 3 general rules:
​

1. Name assignments will create or change local names by default.

2. Name references search (at most) four scopes, these are:
    * local

    * enclosing functions

    * global

    * built-in

3. Names declared in global and nonlocal statements map assigned names to enclosing module and function scopes.
​
​

The statement in #2 above can be defined by the LEGB rule.
​

**LEGB Rule:**
​

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.
​

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.
​

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.
​

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, SyntaxError,...

## Quick examples of LEGB

### Local

In [ ]:
# x is local here:
f = lambda x:x**2

### Enclosing function locals
This occurs when we have a function inside a function (nested functions)

In [ ]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

greet()

Note how Sammy was used, because the hello() function was enclosed inside of the greet function!

### Global
Luckily in Jupyter a quick way to test for global variables is to see if another cell recognizes the variable!

In [ ]:
print(name)

### Built-in
These are the built-in function names in Python (don't overwrite these!)

In [ ]:
len

## Local Variables
When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

Example:

In [ ]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

The first time that we print the value of the name **x** with the first line in the function’s body, Python uses the value of the parameter declared in the main block, above the function definition.

Next, we assign the value 2 to **x**. The name **x** is local to our function. So, when we change the value of **x** in the function, the **x** defined in the main block remains unaffected.

With the last print statement, we display the value of **x** as defined in the main block, thereby confirming that it is actually unaffected by the local assignment within the previously called function.

## The <code>global</code> statement
If you want to assign a value to a name defined at the top level of the program (i.e. not inside any kind of scope such as functions or classes), then you have to tell Python that the name is not local, but it is global. We do this using the <code>global</code> statement. It is impossible to assign a value to a variable defined outside a function without the global statement.

You can use the values of such variables defined outside the function (assuming there is no variable with the same name within the function). However, this is not encouraged and should be avoided since it becomes unclear to the reader of the program as to where that variable’s definition is. Using the <code>global</code> statement makes it amply clear that the variable is defined in an outermost block.

Example:

In [ ]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

In [ ]:
x

The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

## Conclusion
You should now have a good understanding of Scope (you may have already intuitively felt right about Scope which is great!) One last mention is that you can use the **globals()** and **locals()** functions to check what are your current local and global variables.

Another thing to keep in mind is that everything in Python is an object! I can assign variables to functions just like I can with numbers! We will go over this again in the decorator section of the course!

In [ ]:
globals()

In [ ]:
locals()

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if (a%2 == 0) and (b%2 == 0):
        if a < b:
            return a
        else:
            return b
    elif a > b:
        return a
    else:
        return b

In [ ]:
lesser_of_two_evens(2,4)

In [ ]:
lesser_of_two_evens(2,5)

In [ ]:
def lesser_of_2_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
lesser_of_2_evens(2,4)

In [ ]:
lesser_of_2_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    wordlist = str.split (text)
    letterlist = []
    for word in wordlist:
        letterlist.append (word[0])
    if letterlist[0] == letterlist[1]:
        return True
    else:
        return False

In [ ]:
animal_crackers('Levelheaded Llama')

In [ ]:
animal_crackers('Crazy Kangaroo')

In [ ]:
def animal_crackers2(text):
    wordlist = text.lower().split()

    return wordlist[0][0] == wordlist[1][0]

In [ ]:
animal_crackers2('Levelheaded llama')

In [ ]:
animal_crackers2('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    mylist = [n1,n2]
    for num in mylist:
        if num == 20:
            return True
        else:
            pass
    if (n1+n2)==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

In [ ]:
makes_twenty(2,3)

In [ ]:
def makes_20(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [ ]:
makes_20(20,10)

In [ ]:
makes_20(2,3)

In [ ]:
makes_20(12,8)

In [ ]:
makes_20(20,0)

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    letter_list = list(name)
    letter_list[0] = str.capitalize(letter_list[0])
    letter_list[3] = str.capitalize(letter_list[3])
    new_name = ('')
    for let in letter_list:
        new_name = new_name+let
    return new_name

In [ ]:
old_macdonald('macdonald')

In [ ]:
def old_macdonald2(name):
    first_letter = name [0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper()+rest

In [ ]:
old_macdonald2('macdonald')

In [ ]:
def old_macdonald3(name):
    
    first_half=name[:3]
    second_half=name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [ ]:
old_macdonald3('macdonald')

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
m_list = ['a','b','c']
" > ".join(m_list[::-1])

In [ ]:
def master_yoda(str):
    w_list = str.split(' ')
    y_list = []
    for wrd in w_list:
        y_list.append(wrd)
    yoda_master = " ".join(y_list[::-1])
    return (yoda_master)

In [ ]:
master_yoda('I am home')

In [ ]:
master_yoda('We are ready')

In [ ]:
def master_yoda2(text):
    wordlist= text.split()
    reverse_word_list= ' '.join(wordlist[::-1])
    return reverse_word_list

In [ ]:
master_yoda2('I am home')

In [ ]:
master_yoda2('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(int):
    if (int > 89) and (int < 111):
        return True
    elif (int > 189) and (int < 211):
        return True
    else:
        return False

In [ ]:
almost_there(90)

In [ ]:
almost_there(104)

In [ ]:
almost_there(155)

In [ ]:
almost_there(209)

In [ ]:
def almost_there2(num):
    return abs(num-100) <= 10 or abs(num-200) <= 10

In [ ]:
almost_there2(90)

In [ ]:
almost_there2(104)

In [ ]:
almost_there2(155)

In [ ]:
almost_there2(209)

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(list):
    has_it = False
    l_lenght = 0
    while l_lenght < (len(list)-1):
        if (list[(l_lenght)] == list[(l_lenght)+1]) and (list[(l_lenght)] == 3):
            has_it = True
        l_lenght += 1
    return has_it

In [ ]:
has_33([1, 3, 3])

In [ ]:
has_33([1, 3, 1, 3])

In [ ]:
has_33([3, 1, 3])

In [ ]:
def has_33bis(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums [i+1] == 3:
            return True
    return False

In [ ]:
has_33bis([1, 3, 3])

In [ ]:
has_33bis([1, 3, 1, 3])

In [ ]:
has_33bis([3, 1, 3])

In [ ]:
def has_33tri(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [ ]:
has_33tri([1, 3, 3])

In [ ]:
has_33tri([1, 3, 1, 3])

In [ ]:
has_33tri([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(str):
    new_wrd = ''
    for let in str:
        new_wrd = new_wrd+(let*3)
    return new_wrd

In [ ]:
paper_doll('Hello')

In [ ]:
paper_doll('Mississippi')

In [ ]:
def paper_doll2(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [ ]:
paper_doll2('Hello')

In [ ]:
paper_doll2('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    suma = (a + b + c)
    if (a == 11) or (b== 11) or (c== 11):
        suma = suma-10
    
    if suma <= 21:
        return suma

    else:
        return 'BUST'

In [ ]:
blackjack(5,6,7)

In [ ]:
blackjack(9,9,9)

In [ ]:
blackjack(9,9,11)

In [ ]:
def blackjack2(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum ([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [ ]:
blackjack2(5,6,7)

In [ ]:
blackjack2(9,9,9)

In [ ]:
blackjack2(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(list):
    total = 0
    l_pos = 0
    its_69 = False
    while l_pos < len(list):
        if list[l_pos] == 6:
            its_69 = True
        elif its_69 == False:
            total = total+(list[l_pos])
            
        elif list[l_pos] == 9:
            its_69 = False
        
        l_pos += 1
    return total

In [ ]:
summer_69([1, 3, 5])

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
summer_69([2, 1, 6, 9, 11])

In [ ]:
def summer_69bis(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add=True
                break
    return total

In [ ]:
summer_69bis([1, 3, 5])

In [ ]:
summer_69bis([4, 5, 6, 7, 8, 9])

In [ ]:
summer_69bis([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game (list):
    bond = False
    l_pos = 0

    while l_pos < (len(list)-2):
        code = ''
      
        code = code+str(list[(l_pos)])+str(list[(l_pos)+1])+str(list[(l_pos)+2])
        if code == '007':
            bond = True
        l_pos += 1
        print (code)
        print (type(code))
    return bond

In [ ]:
def spy_game (list):
    bond = False
    l_pos = 0
    code = ''
    for numb in list:
        if (numb == 0) or (numb == 7):
            code = code+(str(numb))
    if code == '007':
        bond = True
    
    return bond

In [ ]:
spy_game([1,2,4,0,0,7,5])

In [ ]:
spy_game([1,0,2,4,0,5,7])

In [ ]:
spy_game([1,7,2,0,4,5,0])

In [ ]:
def spy_game2(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [ ]:
spy_game2([1,2,4,0,0,7,5])

In [ ]:
spy_game2([1,0,2,4,0,5,7])

In [ ]:
spy_game2([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(int):
    n_range = range(2,(int+1))
    n_list = []
    p_count = 0
    p_list = []
          
    for n in n_range:
        c_range = range(2,(n))
        is_prime = True
        m = n
        for c in c_range:
            if m%c == 0:
                is_prime = False
        if is_prime == True:
            p_count += 1
            p_list.append(m)
        
    print (p_count)
    print (p_list)

In [ ]:
count_primes(100)

In [ ]:
count_primes(200)

In [ ]:
def count_primes2(num):
    # Check for 0 or 1 input
    if num < 2:
        return 0
    # 2 or greater
    
    primes=[2]
    x = 3
    
    while x <= num:
        for y in range(3,x,2): # or i could replace the range for the primes list
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes2(100)

In [ ]:
count_primes2(200)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
print ('  *  \n * * \n*****\n*   *\n*   *')

In [ ]:
let_dict = {'a':'  *  \n * * \n*****\n*   *\n*   *', 'b':'**** \n*   *\n**** \n*   *\n**** ', 'c':' ****\n*   \n*    \n*    \n ****', 'd':'**** \n*   * \n*   *\n*   * \n**** ', 'e':'*****\n*    \n*****\n*    \n*****'}

In [ ]:
print(let_dict['e'])

In [ ]:
def print_big(key):
    let_dict = {'a':'  *  \n * * \n*****\n*   *\n*   *', 'b':'**** \n*   *\n**** \n*   *\n**** ', 'c':' ****\n*   \n*    \n*    \n ****', 'd':'**** \n*   * \n*   *\n*   * \n**** ', 'e':'*****\n*    \n*****\n*    \n*****'}
    
    print(let_dict[key])

In [ ]:
print_big('a')

In [ ]:
print_big('c')

In [ ]:
print_big('e')

In [ ]:
def print_big2(letter):
    patterns = {1:'  *  ', 2:' * * ', 3:'*   *', 4:'*****', 5:'**** ', 6:'    *', 7:' *   ', 8:'*  * ', 9:'*    '}
    
    alphabet = {'A':[1,2,4,3,3], 'B':[5,3,5,3,5], 'C':[4,9,9,9,4], 'D':[5,3,3,3,5], 'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [ ]:
print_big2('b')

In [ ]:
print_big2('d')

# Lambda, Filter and Maps

In [ ]:
my_nums = [1,2,3,4,5]
for item in map((lambda num: num**2),my_nums):
    print (item)

In [ ]:
my_nums = [1,2,3,4,5]
list(map((lambda num: num**2),my_nums))

In [ ]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [ ]:
names=['Andy','Eve','Sally']

In [ ]:
list(map(splicer,names))

In [ ]:
def check_even(num):
    return num%2 == 0

In [ ]:
mynums = [1,2,3,4,5,6]

In [ ]:
list(filter(check_even, mynums))

In [ ]:
def square(num):
    result = num **2
    return result

In [ ]:
square(3)

In [ ]:
def square(num):
    return num **2

In [ ]:
def square(num): return num **2

In [ ]:
square = lambda num: num **2

In [ ]:
square(5)

In [ ]:
list(map(lambda num:num**2, mynums))

In [ ]:
list(filter(lambda num:num%2 == 0, list(map(lambda num:num**2, mynums))))

# Nested Statements and Scope

In [ ]:
x = 25

def printer():
    x = 50
    return x

In [ ]:
print(x)

In [ ]:
print(printer())

In [ ]:
name = 'This is a Global String'

def greet():
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    hello()

In [ ]:
greet()

In [ ]:
name

In [ ]:
greet()
name

In [ ]:
x = 50
def func(x):
    print(f'X is {x}')

In [ ]:
func(x)

In [ ]:
x = 50
def func(x):
    print(f'X is {x}')
    
    # Local Reassigment!
    
    x = 200
    
    print(f'I just locally changed X to {x}')

In [ ]:
func(x)

In [ ]:
print(x)

In [ ]:
x = 50
def func():
    global x
    print(f'X is {x}')
    
    # Local Reassigment on a global variable!
    
    x = 'NEW VALUE'
    
    print(f'I just locally changed GLOBAL X to {x}')

In [ ]:
print(x)

In [ ]:
func()

In [ ]:
print(x)

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [ ]:

def vol(rad):
    from math import pi
    return (4/3)*pi*(rad**3)

In [ ]:
# Check
vol(2)

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    for i in range(low,high+1):
        if i == num:
            return f'Yes, {num} is between {low} and {high}'
        else:
            continue
    return f'No, {num} is not between {low} and {high}'

In [ ]:
ran_check(5,2,7)

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    for i in range(low,high+1):
        if i == num:
            return i == num
        else:
            continue
    return i == num

In [ ]:
ran_bool(3,1,10)

In [ ]:
def ran_check2(num,low,high):
    if num in range(low,high+1):
        return f'Yes, {num} is between {low} and {high}'
    else:
        return f'No, {num} is not between {low} and {high}'

In [ ]:
ran_check2(5,2,7)

In [ ]:
def ran_bool2(num,low,high):
    return num in range(low,high+1)

In [ ]:
ran_bool2(3,1,10)

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_low(str):
    upp_count = 0
    low_count = 0
    str_list = []
    for i in range(1,len(s)):
        str_list.append(s[(i-1)])

    for l in str_list:
        if l.isupper() == True:
            upp_count += 1
        else:
            low_count += 1
    print (f'No. of Upper case characters : {upp_count}')
    print (f'No. of Lower case Characters : {low_count}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

In [ ]:
def up_low2(s):
    lowcase=0
    uppcase=0
    
    for char in s:
        if char.isupper():
            uppcase +=1
        elif char.islower():
            lowcase+=1
        else:
            pass
    print (f'No. of Upper case characters : {uppcase}')
    print (f'No. of Lower case Characters : {lowcase}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low2(s)

In [ ]:
def up_low3(s):
    d = {'upper':0,'lower':0}
    
    for char in s:
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass
    
    print (f'No. of Upper case characters : {d["upper"]}')
    print (f'No. of Lower case Characters : {d["lower"]}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low3(s)

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
  
    u_list = []
      
    for x in lst:
        if x not in u_list:
            u_list.append(x)

    return u_list

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

In [ ]:
def unique_list2(lst):
    return list(set(lst))

In [ ]:
unique_list2([1,1,1,1,2,2,3,3,3,3,4,5])

In [ ]:
def unique_list3(lst):
    import numpy as np
    x = np.array(lst)
    return np.unique(x)

In [ ]:
unique_list3([1,1,1,1,2,2,3,3,3,3,4,5])

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):  
    result = 1
    for n in numbers:
        result = result*n
    return result

In [ ]:
multiply([1,2,3,-4])

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [ ]:
def palindrome(s):
    s_dir = s.replace(' ','')
    print (s_dir)
    s_inv = s_dir[::-1]
    print (s_inv)
    return s_dir.lower() == s_inv.lower()

In [ ]:
palindrome('helleh')

In [ ]:
palindrome('nurses run')

In [ ]:
def palindrome2(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [ ]:
palindrome2('helleh')

In [ ]:
palindrome2('nurses run')

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [ ]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    pass

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

In [ ]:
string.ascii_lowercase

In [ ]:
def ispangram(str1, alphabet=string.ascii_lowercase):
    str1 = str1.replace(' ','')
    let_list = []
    for let in str1:
        let_list.append(let.lower())
    let_list = sorted(list(set(let_list)))
    str2 =''
    for let in let_list:
        str2 = str2+let

    return alphabet == str2

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

In [ ]:
ispangram("The quick brown")

In [ ]:
ispangram("M nvbc xgzdashdjhfjgkhljpio u y t r e e w q")

In [ ]:
ispangram("qwer tyuio pasdf ghjklzxcv   bnm")

In [ ]:
ispangram("wer tyuio pasdf ghjklzxcv   bnmmmmm")

In [ ]:
import string
def ispangram2(str1, alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    str1 = set(str1.replace(' ','').lower())
    return alphaset == str1

In [ ]:
ispangram2("The quick brown fox jumps over the lazy dog")

In [ ]:
ispangram2("qwer tyuio pasdf ghjklzxcv   bnm")

In [ ]:
ispangram2("wer tyuio pasdf ghjklzxcv   bnmmmmm")

# Displaying Information

In [ ]:
print([1,2,3])
print([4,5,6])
print([7,8,9])

In [ ]:
def display (row1, row2, row3):
    print(row1)
    print(row2)
    print(row3)

In [ ]:
row1 = [' ',' ',' ']
row2 = [' ',' ',' ']
row3 = [' ',' ',' ']

In [ ]:
display (row1, row2, row3)

In [ ]:
row2 [1] = 'X'

In [ ]:
display (row1, row2, row3)

# Validate User Input

In [ ]:
def user_choice():
    choice = input('Please enter a number (0-10):')
    return int(choice)

In [ ]:
user_choice()

In [ ]:
user_choice()

In [ ]:
user_choice()

In [ ]:
some_value = '100'

In [ ]:
some_value.isdigit()

In [ ]:
int(some_value)

In [ ]:
def user_choice():
    
    choice = 'Wrong Input'
    
    while choice.isdigit() == False:
    
        choice = input('Please enter a number (0-10): ')
        if choice.isdigit() == False:
            print('Sorry, that is not a digit!')
        
    return int(choice)

In [ ]:
user_choice()

In [ ]:
def user_choice():
    #Variables
    #Initial
    choice = 'Wrong Input'
    acceptable_range = range (0,11)
    within_range = False
    
    # Two conditions to check
    # The digit or within range is False
    
    while choice.isdigit() == False or within_range == False :
            
        choice = input('Please enter a number (0-10): ')
        
        # Digit Check
        if choice.isdigit() == False:
            print('Sorry, that is not a digit!')
            
        # Range Check
        if choice.isdigit():
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print('You are out of acceptable range 0 to 10')

        
    return int(choice)

In [ ]:
user_choice()

# Object Oriented Programming

Object Oriented Programming (OOP) tends to be one of the major obstacles for beginners when they are first starting to learn Python.

There are many, many tutorials and lessons covering OOP so feel free to Google search other lessons, and I have also put some links to other useful tutorials online at the bottom of this Notebook.

For this lesson we will construct our knowledge of OOP in Python by building on the following topics:

* Objects
* Using the *class* keyword
* Creating class attributes
* Creating methods in a class
* Learning about Inheritance
* Learning about Polymorphism
* Learning about Special Methods for classes

## Objects
In Python, *everything is an object*. Remember from previous lectures we can use type() to check the type of object something is:

In [ ]:
print(type(1))
print(type([]))
print(type(()))
print(type({}))

So we know all these things are objects, so how can we create our own Object types? That is where the <code>class</code> keyword comes in.
## class
User defined objects are created using the <code>class</code> keyword. The class is a blueprint that defines the nature of a future object. From classes we can construct instances. An instance is a specific object created from a particular class. For example, above we created the object <code>lst</code> which was an instance of a list object. 

Let see how we can use <code>class</code>:

In [ ]:
class Sample:
    pass

x = Sample()

type(x)

By convention we give classes a name that starts with a capital letter. Note how <code>x</code> is now the reference to our new instance of a Sample class. In other words, we **instantiate** the Sample class.

Inside of the class we currently just have pass. But we can define class attributes and methods.

An **attribute** is a characteristic of an object.
A **method** is an operation we can perform with the object.

For example, we can create a class called Dog. An attribute of a dog may be its breed or its name, while a method of a dog may be defined by a .bark() method which returns a sound.

Let's get a better understanding of attributes through an example.

## Attributes
The syntax for creating an attribute is:
    
    self.attribute = something
    
There is a special method called:

    __init__()

This method is used to initialize the attributes of an object. For example:

In [ ]:
class Dog():
    
    species = 'mammal'
    
    def __init__(self, breed, name, spots):
        self.breed = breed
        self.name = name
        self.spots = spots
        
    def bark(self,number):
        print('WOOF! My name is {} and the number is {}'.format(self.name, number))

In [ ]:
my_dog = Dog(breed = 'Hermeticus', name = 'Hermes', spots = True)

In [ ]:
type(my_dog)

In [ ]:
my_dog.breed

In [ ]:
my_dog.name

In [ ]:
my_dog.spots

In [ ]:
my_dog.species

In [ ]:
my_dog.bark

In [ ]:
my_dog.bark(3)

Lets break down what we have above.The special method 

    __init__() 
is called automatically right after the object has been created:

    def __init__(self, breed):
Each attribute in a class definition begins with a reference to the instance object. It is by convention named self. The breed is the argument. The value is passed during the class instantiation.

     self.breed = breed

In [ ]:
class MyNewClass():
    
    # Class Object Attribute - It's the same for all instances of the class
    # example: for the class Dog, they'll always be "mammals"
    # We don't use the "self" keyword
    
    gral_att = "It's my class general attribute"
    
    
    
    def __init__(self, expected_variable):
        self.attribute_name = expected_variable
        
    def new_method(self, meth_att):
        print('This is the method taking action, and calling the attribute: {} and a method defined attribute {}'.format(self.attribute_name, meth_att))

In [ ]:
my_object = MyNewClass(expected_variable = "provided_variable")

In [ ]:
my_object.attribute_name

In [ ]:
my_object.gral_att

In [ ]:
my_object.new_method

In [ ]:
my_object.new_method("->I'm the attribute defined in the method<-")

In [ ]:
class Circle():
    
    # Class object Atrribute
    pi = 3.14
    
    def __init__(self,radius=1):
        
        self.radius = radius
        self.area = radius*radius*Circle.pi
        
    #Method
    def get_circumference(self):
        return self.radius * Circle.pi * 2

In [ ]:
my_circle = Circle()

In [ ]:
my_circle.pi

In [ ]:
my_circle.radius

### You can have a predefined value (radius=1 in this case) and then overwrite it when you define the instance of the class object

In [ ]:
my_circle = Circle(30)

In [ ]:
my_circle.radius

In [ ]:
my_circle.get_circumference()

In [ ]:
my_circle.area

## Inheritance

Inheritance is a way to form new classes using classes that have already been defined. The newly formed classes are called derived classes, the classes that we derive from are called base classes. Important benefits of inheritance are code reuse and reduction of complexity of a program. The derived classes (descendants) override or extend the functionality of base classes (ancestors).

Let's see an example by incorporating our previous work on the Dog class:

In [ ]:
class Animal:
    def __init__(self):
        print("Animal created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [ ]:
d = Dog()

In [ ]:
d.whoAmI()

In [ ]:
d.eat()

In [ ]:
d.bark()

In this example, we have two classes: Animal and Dog. The Animal is the base class, the Dog is the derived class. 

The derived class inherits the functionality of the base class. 

* It is shown by the eat() method. 

The derived class modifies existing behavior of the base class.

* shown by the whoAmI() method. 

Finally, the derived class extends the functionality of the base class, by defining a new bark() method.

In [ ]:
class BaseClass():
    def __init__(self):
        print('This is the base class INIT')
    
    def base_class_method(self):
        print('This is the base class METHOD')
        
    def base_class_method_2(self):
        print('This is another base METHOD to be overwritten')

In [ ]:
class DerivedClass(BaseClass):
    def __init__(self):
        BaseClass.__init__(self)
        print('This is the derived class INIT')
    
    def base_class_method_2(self):
        print('This is the overwritten version of the original base METHOD')
    
    def derived_class_method (self):
        print('This method was added in the Descendant class')

In [ ]:
my_derived_class = DerivedClass()

In [ ]:
my_derived_class.base_class_method_2()

In [ ]:
my_derived_class.derived_class_method()

## Polymorphism

We've learned that while functions can take in different arguments, methods belong to the objects they act on. In Python, *polymorphism* refers to the way in which different object classes can share the same method name, and those methods can be called from the same place even though a variety of different objects might be passed in. The best way to explain this is by example:

In [ ]:
class Dog:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Woof!'
    
class Cat:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return self.name+' says Meow!' 
    
niko = Dog('Niko')
felix = Cat('Felix')

print(niko.speak())
print(felix.speak())

Here we have a Dog class and a Cat class, and each has a `.speak()` method. When called, each object's `.speak()` method returns a result unique to the object.

There a few different ways to demonstrate polymorphism. First, with a for loop:

In [ ]:
for pet in [niko,felix]:
    print(pet.speak())

Another is with functions:

In [ ]:
def pet_speak(pet):
    print(pet.speak())

pet_speak(niko)
pet_speak(felix)

In both cases we were able to pass in different object types, and we obtained object-specific results from the same mechanism.

A more common practice is to use abstract classes and inheritance. An abstract class is one that never expects to be instantiated. For example, we will never have an Animal object, only Dog and Cat objects, although Dogs and Cats are derived from Animals:

In [ ]:
class Animal:
    def __init__(self, name):    # Constructor of the class
        self.name = name

    def speak(self):              # Abstract method, defined by convention only
        raise NotImplementedError("Subclass must implement abstract method")


class Dog(Animal):
    
    def speak(self):
        return self.name+' says Woof!'
    
class Cat(Animal):

    def speak(self):
        return self.name+' says Meow!'
    
fido = Dog('Fido')
isis = Cat('Isis')

print(fido.speak())
print(isis.speak())

Real life examples of polymorphism include:
* opening different file types - different tools are needed to display Word, pdf and Excel files
* adding different objects - the `+` operator performs arithmetic and concatenation

In [ ]:
class FirstClass():
    def __init__(self, fc_expected_value):
        self.fc_attribute_name = fc_expected_value
    
    def same_name_method(self):
        return self.fc_attribute_name + 'this is a first class method after de expected value of the first class attribute'

In [ ]:
class SecondClass():
    def __init__(self, sc_expected_value):
        self.sc_attribute_name = sc_expected_value
    
    def same_name_method(self):
        return self.sc_attribute_name + ' this is a second class method after de expected value of the second class attribute'

In [ ]:
my_first = FirstClass ("I'm the FirstC ")
my_second = SecondClass ("I'm the SecondC ")

In [ ]:
print(my_first.same_name_method())

In [ ]:
print(my_second.same_name_method())

# Special Methods
### Also know as magic methods or dunder methods (double underscore)

Classes in Python can implement certain operations with special method names. These methods are not actually called directly but by Python specific language syntax. For example let's create a Book class:

In [4]:
class Book:
    def __init__(self, title, author, pages):
        print("A book is created")
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return "Title: %s, author: %s, pages: %s" %(self.title, self.author, self.pages)

    def __len__(self):
        return self.pages

    def __del__(self):
        print("A book is destroyed")

In [5]:
book = Book("Python Rocks!", "Jose Portilla", 159)

#Special Methods
print(book)
print(len(book))
del book

A book is created
Title: Python Rocks!, author: Jose Portilla, pages: 159
159
A book is destroyed

    The __init__(), __str__(), __len__() and __del__() methods
These special methods are defined by their use of underscores. They allow us to use Python specific functions on objects created through our class.

**Great! After this lecture you should have a basic understanding of how to create your own objects with class in Python. You will be utilizing this heavily in your next milestone project!**

For more great resources on this topic, check out:

[Jeff Knupp's Post](https://jeffknupp.com/blog/2014/06/18/improve-your-python-python-classes-and-object-oriented-programming/)

[Mozilla's Post](https://developer.mozilla.org/en-US/Learn/Python/Quickly_Learn_Object_Oriented_Programming)

[Tutorial's Point](http://www.tutorialspoint.com/python/python_classes_objects.htm)

[Official Documentation](https://docs.python.org/3/tutorial/classes.html)

# Object Oriented Programming
## Homework Assignment

#### Problem 1
Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

In [ ]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2

    
    def distance(self):
        x1,y1= self.coor1
        x2,y2= self.coor2
        return ((x2-x1)**2+((y2-y1)**2))**(1.0/2)
    
    def slope(self):
        x1,y1= self.coor1
        x2,y2= self.coor2
        return (y2-y1)/(x2-x1)

In [ ]:
distance_formula: d = (((x2-x1)**2+((y2-y1)**2))***2

slope_formula: m = (y2-y1)/(x2-x1)

In [ ]:
# EXAMPLE OUTPUT

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [ ]:
li.distance()

In [ ]:
li.slope()

#### Problem 2

Fill in the class

In [ ]:
class Cylinder:
    
    pi = 3.14159
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
        return Cylinder.pi * (self.radius**2 ) * self.height
    
    def surface_area(self):
        return (2 * Cylinder.pi * self.radius * self.height) + (2 * Cylinder.pi * ( self.radius **2))

In [ ]:
volume_formula: V=πr**2h
    
surface_formula: A=2πrh+2πr**2

In [ ]:
# EXAMPLE OUTPUT
c = Cylinder(2,3)

In [ ]:
c.volume()

In [ ]:
c.surface_area()

# Object Oriented Programming Challenge

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [10]:
class Account:
    
    def __init__ (self, owner, balance):
        self.owner = owner
        self.balance = balance
        
    def __str__ (self):
        return 'Account owner: '+str(self.owner) + "\nAccount balance: $"+str(self.balance)
    
    def deposit (self, deposit):
        self.balance = self.balance + deposit
        print ('The deposit of ${} has been accepted. The new balance is ${}.'.format(deposit, self.balance))
    
    def withdraw (self, withdrawal):
        if withdrawal <= self.balance:
            self.balance = self.balance - withdrawal
            print ('A withdrawal of ${} has been made. The new balance is ${}.'.format(withdrawal, self.balance))
        else:
            print ('The ammount requested exceeds the current balance.')

In [11]:
# 1. Instantiate the class
acct1 = Account('Jose',100)

In [12]:
# 2. Print the object
print(acct1)

Account owner: Jose
Account balance: $100

In [13]:
# 3. Show the account owner attribute
acct1.owner

'Jose'

In [14]:
# 4. Show the account balance attribute
acct1.balance

100

In [15]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)

The deposit of $50 has been accepted. The new balance is $150.

In [16]:
acct1.withdraw(75)

A withdrawal of $75 has been made. The new balance is $75.

In [17]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

The ammount requested exceeds the current balance.